<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar-hover-zone"></div>
  <nav class="sidebar">
    <div class="menu-icon">☰</div>
    <a href="/">Home</a>
    <a href="/concept">Concept</a>
    <a href="/merch">Merchandising</a>
    <a href="/guidelines">Guidelines</a>
    <a href="/whoweare">Who we are</a>
  </nav>

  <div class="main-content">
  <h1>Concept :</h1>

  <p>
   We are passionate about music. From your coffee shop to your local, going by your office or a charity shop, it is everywhere. 
   Our founders love music and wanted the possibility to engage more with other human being about it. The concept is extremely simple. 
   One visual that would indicate other people from the community that you belong to it as well. That visual would be a sign that it is ok
   to come up to you and ask "What are you Listening ?" (WAYL if you haven't figured out yet). It's the starting point of a social interaction. 
   It could be for a few words or a deeper conversation. 
   
   You can find <a href="/merch">here</a> our range of products that you can apply on your hardware. Let's make a tube ride, a day in a coworking or even a pint in the sun a more social and pleasant moment !
  </p>


  <a href="/">Back to main page</a>

  <video class="background-video" autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='record-concept.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>