<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar-hover-zone"></div>
  <nav class="sidebar">
    <div class="menu-icon">☰</div>
    <a href="/">Home</a>
    <a href="/concept">Concept</a>
    <a href="/merch">Merchandising</a>
    <a href="/guidelines">Guidelines</a>
    <a href="/whoweare">Who we are</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="main-content">
  <h1>Concept :</h1>

  <p>
    <div class="justified-text">
    We are driven by a deep passion for music. From coffee shops to local hangouts, offices to charity stores — music is everywhere, shaping our daily experiences. 
    Our founders, united by this love, envisioned a simple yet powerful way to spark more meaningful interactions around it. The concept is straightforward: 
    a visual symbol that quietly signals your connection to the community — an invitation for someone to ask, “What Are You Listening?” (Or WAYL, if you haven’t guessed yet). 
    It’s a gentle prompt that can open the door to anything from a quick exchange to a rich, unexpected conversation.
    
    You can explore our range of products — designed to seamlessly integrate with your gear — <a href="/merch" data-type="special">here</a>. 
    Whether you're on the tube, working in a co-working space, or enjoying a sunny pint, WAYL is all about making everyday moments a little more social.
  </div>
  </p>


  <a href="/">Back to main page</a>

  <video class="background-video" autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='record-concept.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>