<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar-hover-zone"></div>
  <nav class="sidebar">
    <div class="menu-icon">☰</div>
    <a href="/">Home</a>
    <a href="/concept">Concept</a>
    <a href="/merch">Merchandising</a>
    <a href="/guidelines">Guidelines</a>
    <a href="/whoweare">Who we are</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="main-content">
  <h1>Contact :</h1>

  <p>

  </p>


  <a href="/">Back to main page</a>

  <video class="background-video" autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='record-concept.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>