<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar-hover-zone"></div>
  <nav class="sidebar">
    <div class="menu-icon">☰</div>
    <a href="/">Home</a>
    <a href="/concept">Concept</a>
    <a href="/merch">Merchandising</a>
    <a href="/guidelines">Guidelines</a>
    <a href="/whoweare">Who we are</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="main-content">

  <h1>Merchandise:</h1>

  <p>
    <div class="justified-text">
    Below, you'll find the range of merchandise we offer — all designed with flexibility in mind. Every item is removable, thanks to a simple Velcro system. 
    We understand that social energy can ebb and flow. Some days, you're open to connection. 
    Other days — maybe after a tough meeting or a long weekend — you just want to keep your head down, headphones on, and get through the day. 
    With WAYL, you're in control. Be social when you feel like it… and take a step back when you don’t.
  </div>
  </p>

  <div class="merch-container">

    <div class="merch-item">
      <img src="static/Mug.png" alt="WAYL Mug" />
      <p>Perfect for a coffee break conversation!</p>
      <a href="/orders" class="order-button">Order here</a>
    </div>
  
    <div class="merch-item">
      <img src="static/cap.png" alt="WAYL Cap" />
      <p>Whether you are at a festival or just enjoying a beer in the sun. Great to get conversations started.</p>
      <a href="/orders" class="order-button">Order here</a>
    </div>
  
    <div class="merch-item">
      <img src="static/tote.png" alt="WAYL Tote Bag" />
      <p>What better way to carry your records while repping WAYL?</p>
      <a href="/orders" class="order-button">Order here</a>
    </div>
  
  </div>
  
  

  <a href="/">Back to main page</a>

  <video class="background-video" autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='merch-drums.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>