<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
</head>
<body>

  <h1>Welcome to WAYL !</h1>

  <img src="https://via.placeholder.com/800x300.png?text=Welcome+Image" alt="Welcome Image" />

  <p>
   WAYL is a small project aiming to create a vertuous and social community around music.
  </p>

  <label for="page-select">Go to:</label>
  <select id="page-select" onchange="if (this.value) window.location.href=this.value">
    <option value="contact.html">Contact</option>
  </select>

  <a href="/concept">Concept</a>
</body>
</html>