<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to WAYL !</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar-hover-zone"></div>
  <nav class="sidebar">
    <div class="menu-icon">☰</div>
    <a href="/">Home</a>
    <a href="/concept">Concept</a>
    <a href="/merch">Merchandising</a>
    <a href="/guidelines">Guidelines</a>
    <a href="/whoweare">Who we are</a>
  </nav>

  <div class="main-content">

  <h1>Who we are:</h1>

  <p>
    <div class="justified-text">
    <img src="static/Joseph.jpeg" alt="Joseph" />     
    The idea behind WAYL has been with Joseph for quite some time. Initially limited by a lack of technical skills, 
    he finally brought the concept to life after completing a coding bootcamp. A true music enthusiast, Joseph is drawn to intimate venues, 
    BoilerRooms, community-driven radio stations (NTS is his go-to for work sessions), and any moment that calls for a soundtrack. 
    One of his favorite indulgences? Cooking under the sun with a bottle of wine and some good speakers. 
    He believes in the power of communities built around a shared passion for music. If you’re in London, you might just spot him strolling the streets, headphones on, fully immersed in sound.
  </div>
    
   
  </p>


  <a href="/">Back to main page</a>

</body>
</html>